!/.gitignore
*~
~*
*.o
*.x
*.png
.idea
.vscode
.vs
.Rproj.user
*TestToolOutput.csv
!Documentation/**
nightly_pull.sh
scripts/python/__pycache__

build/
builds/
*.xlsx
*.pyc
file_system_backend

src/presets/presets.h
src/presets/presets.cpp

Dockerfile.format
Doxyfile
vendor/hpwh_data_model/cpp/.clang-format
vendor/hpwh_data_model/cpp/.clang-tidy
vendor/hpwh_data_model/cpp/.github/
vendor/hpwh_data_model/cpp/.gitignore
vendor/hpwh_data_model/cpp/CMakePresets.json
vendor/hpwh_data_model/cpp/Dockerfile.format
vendor/hpwh_data_model/cpp/LICENSE.txt
vendor/hpwh_data_model/cpp/README.md
vendor/hpwh_data_model/cpp/Taskfile.yml
vendor/hpwh_data_model/cpp/app/
vendor/hpwh_data_model/cpp/cmake/
vendor/hpwh_data_model/cpp/test/
*.log