[submodule "vendor/btwxt"]
	path = vendor/btwxt
	url = https://github.com/bigladder/btwxt.git

[submodule "CLI11"]
	path = vendor/CLI11
	url = https://github.com/CLIUtils/CLI11.git

[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git

[submodule "vendor/hpwh_DataModel"]
	path = vendor/hpwh_DataModel
	url = https://github.com/bigladder/hpwh_DataModel.git
