[submodule "vendor/btwxt"]
	path = vendor/btwxt
	url = https://github.com/bigladder/btwxt.git

[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git

[submodule "vendor/hpwh-data-model"]
	path = vendor/hpwh-data-model

[submodule "vendor/CLI11"]
	path = vendor/CLI11
	url = https://github.com/CLIUtils/CLI11.git
