
#ifndef PRESETS_H
#define PRESETS_H

#include <iostream>

namespace hpwh_presets {

/// specifies the allowable preset HPWH models
/// values may vary - names should be used
enum MODELS: int
{
{% for model in models %}
	{{ model.name }} = {{ model.number }},
{% endfor %}	
	unknown = -1
};

struct Model
{
	int id;
	std::string name;
	const std::uint8_t *cbor_data;
	std::size_t size;
	Model(const int id_in, const char* name_in, const std::uint8_t *cbor_data_in, const std::size_t size_in):
		id(id_in), name(name_in), cbor_data(cbor_data_in), size(size_in){}
	MODELS model() const {return static_cast<MODELS>(id);}
};

extern std::vector<Model> models;

Model find_by_name(const std::string& name);

Model find_by_id(const MODELS id);

}
#endif
